.sidebar{
    position: fixed;
    top: 10.5rem;
    width: 20%;

}
.p-0{
    margin: 0px 5rem;
}


.addproduct{
    padding: 10px 15px;
    color: var(--main-color);
    border: 1px solid var(--text-color);
}

.addproduct:hover{
    background-color: var(--main-color);
    color: var(--text-color);
}
