{% extends "base.html" %}

{% block content %}


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="container d-flex justify-content-center">
            <div class="col-xl-12 ">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                       
                        <div class="col-sm-8">
                            <div class="card-block">
                                <form method="POST" action="" enctype="multipart/form-data">
                                    {{ form.hidden_tag() }}
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600 mt-2"> {{ form.type.label(class="form-control-label") }}</h6>
                                    <div class="row">
                                        {% if form.type.errors %}
                                        {{ form.type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{ form.type(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                

                                    <div class="form-group">
                                        {{ form.submit(class="btnRegister") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}