{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col text-color">
                            <h4>GIỎ HÀNG CỦA BẠN</h4>
                        </div>
                        
                    </div>
                </div>
                {% for item in cart %}
                <form action="{{ url_for('cart') }}" method="post">
                    <input type="hidden" name="idpd" value="{{item.id}}"/>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-1"><img class="img-fluid" src="{{ url_for('static', filename='profile_pics/' + item.product_img) }}"></div>
                            <div class="col-3">
                                <div class="row text-color">{{item.title}}</div>
                            
                            </div>
                            <input type="hidden" name="idpd" value="{{item.id}}"/>
						    <select class="form-control col-2" id="exampleFormControlSelect" style="width:70px;text-align: center;" name="qty">
                                <option selected="QtyinCart">{{item.quantity}}</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
						    </select>
                          
                            <div style="text-align:center" class="col-2">x</div>
                            <div class="col-2">{{item.price}} VNĐ</div>
                            <button class="btn btn-color col-2 update-item hover-btn" type="submit">Cập nhật</button>
                   
                            <a class="col text-color products-icon" href="/removeFromCart/{{item.id}} " alt = 'delete'>
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </div>
                </form>
                {% endfor %}
                <div class="back-to-shop"><a class="text-color" href="{{ url_for('home') }}">&leftarrow; Tiếp tục mua hàng</a></div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Thông tin người mua</b></h5>
                </div>
                <hr>
                    <h5>Họ và tên: {{user.username}}</h5> 
                    <h5>Số điện thoại: {{user.phone_num}}</h5> 
                    <h5>Địa chỉ giao hàng: {{user.address}}</h5>
                    <h5>Phí vận chuyển: 30000 VNĐ</h5>
                    <h5>Dự kiến ngày giao hàng: {{receive_day}}</h5>
                <hr>
                <div class="row" style=" padding: 2vh 0;">
                    <div style="font-size: 1.5rem;" class="col"><b>THÀNH TIỀN:</b></div>
                    <div style="font-size: 1.5rem;" class="col text-right"><b>{{subtotal}} VNĐ</b></div>
                </div> 
                <button class="btnRegister hover-btn">Thanh toán</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}